@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Luxia";
  src: url("../fonts/luxia-display.otf");
}

.bg-gradient-brand {
  background: rgb(23,15,25);
  background: -moz-linear-gradient(61deg, rgba(23,15,25,1) 0%, rgba(1,7,10,1) 100%);
  background: -webkit-linear-gradient(61deg, rgba(23,15,25,1) 0%, rgba(1,7,10,1) 100%);
  background: linear-gradient(61deg, rgba(23,15,25,1) 0%, rgba(1,7,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#170f19",endColorstr="#01070a",GradientType=1);
    background-attachment: fixed;
  }

  .bg-cta{
    background-image: url(../img/blur-texture.png);
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
  }

  .bm-burger-button {
    position: fixed;
    width: 1em;
    height: 1em;
    right: 2em;
   top: 2.3rem;
  }

  #profile-page #content p{
    padding-bottom:2em;
  }


  
  
  .bm-burger-bars {
    background: #ffffff;
  }
  
  .bm-menu-wrap .bm-cross-button {
    position: absolute !important;
    width: 2em !important;
    height: 2em !important;
    right: 2em !important;
   top: 2.1rem !important;
  }
  
  .bm-cross {
    background: #ffffff;
  }
  
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  .bm-menu {
    background: #261523;
    padding: 2rem 2rem;
    font-size: 1.5em;
    font-weight:bold;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 4rem 0;
  }
  
  .bm-item {
    display: inline-block;
    padding:0 0 1rem;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .topright{
    display: flex;
    float: right;
    margin-right: 6px;
    
  }
  




  [aria-current]:not([aria-current="false"]) {
    opacity: 100;
    font-style:italic;

  }















  