@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Luxia";
  src: url("../fonts/luxia-display.otf");
}

.bg-gradient-brand {
  background: rgb(23,15,25);
  background: -moz-linear-gradient(61deg, rgba(23,15,25,1) 0%, rgba(1,7,10,1) 100%);
  background: -webkit-linear-gradient(61deg, rgba(23,15,25,1) 0%, rgba(1,7,10,1) 100%);
  background: linear-gradient(61deg, rgba(23,15,25,1) 0%, rgba(1,7,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#170f19",endColorstr="#01070a",GradientType=1);
    background-attachment: fixed;
  }

  .bg-cta{
    background-image: url(../img/blur-texture.png);
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
  }

  #profile-page #content p{
    padding-bottom:1em;
  }